/* Adjusting logo size*/
#logo {
    display: flex;
    align-items: center; 
    margin-right: 25px;
    width: 400px;
}

/* Formatting product page images*/
.product-image {
    width: 285px;
    height: 285px;
    border: 2px solid #000000;
}

/* Adjusting header position*/
#intro {
    text-aleign: center; /* Align text to the left */
    font-size: 24px; /* Adjust the font size to match the image */
    padding-left: 25px; /* Add some left padding to align with the logo */
    margin-top: 10px; /* Add some margin to adjust vertical spacing */
}

/* Formatting detail page images*/
#detail-image {
    width: 600px;
    height: 600px;
    border: 2px solid #000000;
}

/* Formatting cart page images*/
.cart-image {
    width: 200px;
    height: 200px;
    border: 2px solid #000000;
}

/* Adding hover highlight interaction to content containers */
.container:hover, .container #product-name:hover{
    background-color: yellow;   
}

/* Adding bold to product name on hover */
.container:hover .product-name {
    font-weight: bold;
}

/* Underlining product names */
.product-name{
    text-decoration: underline; 
}

/* Formatting content containers and option section */
.container, .options{
    padding: 5px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* Making the line break thicker */
hr {
    width:400%;
    height:4px;
    background:#000;
}

/* Formatting add button to be in line with price */
#add-button {
    display: inline; /* Source: https://forum.freecodecamp.org/t/how-to-make-p-tag-and-a-button-side-by-side/277313/7 */
    padding: 20px;
}

/* Removing default link styling */
a {
    text-decoration: none;
    color: black;
}

/* Highlighting navigation headers on hover*/
#product-link:hover, #cart-link:hover, button:hover {
    background-color: yellow; 
    font-weight: bold;   
}

/* Changing all font to helvetica */
body {
    font-family: Helvetica;
}

/* Aligning first three products */
#products-row1 { 
    display: flex;
    justify-content: space-evenly;
}

/* Aligning next three products */
#products-row2 { 
    display: flex;
    justify-content: space-evenly;
}

/* Aligning logo, line and title */
#logo-container { 
    display: flex;
    align-items: center;
    padding: 30px;
}

/* Styling navigation bar https://www.w3schools.com/Css/css_navbar.asp */
nav { 
    font-size: 25px;
    position: absolute;
    right: 0;
    padding: 35px;
    display: flex;
    gap: 100px;
}

/* Centering content in detail container and aligning with flexbox
Source for centering: https://www.w3schools.com/css/css_align.asp */
#detail-container {
    margin: auto;
    width: 50%;
    align-items: center; 
    display: flex;
}

#customization-container {
    padding: 30px;
    font-size: 20px;
}