/* Specifying body style (background color, text color, etc) */
body {
    background-color: #000;
    color: #fff;
    line-height: 1.6;
    overflow-x: hidden; /* Hiding scroll bar at bottom */
}

/* Ensures div that contains all the content spans the whole width of the screen */
.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Adjusting height and width of hook section */
.quote-section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Centering content in the quote */
#quote-content {
    text-align: center;
}

/* Using Google API font for h1 */
h1 {
    font-family: 'Inria Serif', 'Times New Roman', serif;
    margin: 0;
    font-size: 4rem;
    font-weight: normal;
}

/* Styling the quote name */
#quote-name {
    font-family: 'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-style: italic;
    color: #888;
    font-size: 1.2rem;
    padding-top: 1rem;
}

/* Specifying arrow position */
#arrow {
    position: absolute;
    bottom: 30px;
    color: #fff;
    font-size: 1.5rem;
    animation: bounce 2s infinite;
    cursor: pointer;
}

/* Animation for arrow to bounce */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* Styling width of empty black section */
.black-section {
    width: 100%;
    height: 200px;
}

/* Using Google API font for h2 */
h2{
    font-family: 'Inria Serif', 'Times New Roman', serif;
    color: #fff;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    font-weight: normal;
    line-height: 1.2;
}

/* Using Google API font for paragraphs */
p {
    font-family: 'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    margin-bottom: 4rem;
    font-size: rem;
    line-height: 2;
    color: #fff;
    letter-spacing: 0.02em;
}

/* Styling intro section */
.intro-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Styling intro image */
.intro-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlaying text over image */
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Aligning text */
.intro-content {
    max-width: 450px;
    padding-left: 8%;
    text-align: left;
}

/* Styling why UXR section */
.uxr-section{
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Styling sailor image */
#sailor-image {
   width: 60%;
}

/* Adjusting text of section to be next to section image (sailor) */
.flex-right {
    display:flex;
    align-items: center;
}

/* Adjusting text in Why UXR section to be a specific width and aligning text */
.right-content {
    max-width: 450px;
    padding-left: 8%;
    text-align: right;
}

/* Changing text to blue and bold on hover of big container */
#blue-hover:hover .highlight {
    color: #007AFF;
    font-weight: bold;
}

/* Styling aos section */
.aos-section{
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Styling tagline */
.aos-tagline {
    font-family: 'Inria Serif', 'Times New Roman', serif;
    font-size: 1.2rem;
    color: #fff;
}

/* Specifying width for AoS logo */
#aos-logo {
    width: 60%;
}

/* Adjusting alignment */
.aos-flex {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Centering content */
.aos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Aligning images */
.aos-image-container {
    position: relative;
    width: 80%;
    max-width: 1200px;
}

/* Specifying position of both swirls relative to other elements */
.swirl-left, .swirl-right {
    position: absolute;
    width: 150px;
    z-index: 3;
    transition: transform 0.1s ease-out;
}

/* Specifying position of left swirl */
.swirl-left {
    top: -50px;
    left: -50px;
    transform: rotate(180deg) translateY(0);
}

/* Specifying position of right swirl */
.swirl-right {
    bottom: -20px;
    right: -150px;
    transform: translateY(0);
}

/* Styling for the text in the AoS section */
.aos-description {
    margin-top: 50px;
    width: 60%;
    text-align: center;
}

/* Styling hci section */
.hci-section{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

/* Styling headshot image */
/* #me {
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: 10% 0;
    transform: translateX(-10%);
} */

#me { 
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Adjusting alignment of elements in hci section */
.hci-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}

/* Adjusting alignment of text in the HCI section */
.hci-content-right{
    max-width: 300px;
    padding-right: 6%;
    text-align: right;
}

/* Styling research section */
.research-section {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Styling orb image */
#orb-image {
    width: 60%;
}

/* Styling analytics section */
.analytics-section {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Adjusting text in analytics to be a specific width and aligning text */
.left-content {
    max-width: 700px;
    padding-left: 8%;
    padding-right: 10%;
    text-align: left;
}

/* Adding styles for a gradient overlay */
.dashboard-container {
    position: relative;
    width: 50%;
}

/* Styling dashboard image */
#dashboard-image {
    width: 100%;
    display: block;
}

/* Adding styles for a gradient overlay */
.dashboard-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6));
}

/* Styling conclusion section */
.conclusion-section {
    width: 100%;
    overflow: hidden;
    position: relative;
}

/* Styling CMU image */
.cmu {
    max-width: 80%;
    height: auto;
}

/* Container with CMU image and arrow */
.cmu-container {
    position: relative;
    width: 100%;
    text-align: center;
}

/* Arrow positioning */
.rotate {
    position: absolute;
    left: -100px;
    bottom: -900px;
    transform: rotate(-120deg);
    width: 1300px;
    height: 1300px;
}

/* Conclusion statement */
.conclusion-text {
    max-width: 50%;
    text-align: center;
}

/* Aligning vertically */
.column-alignment { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Job title alignment */
.job-title {
    text-align: right;
}